# Mission to Mars
## Week 12 Bootcamp Homework
## Web Scraping

In [28]:
# Dependencies
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager
from bs4 import BeautifulSoup as bs
import pymongo
import pandas as pd

# NASA Mars News

In [29]:
# I had trouble getting the redplanetscience.com site to load
# so I switched to using selenium
# it still only loads fully some of the time

In [30]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from webdriver_manager.chrome import ChromeDriverManager
import time

In [31]:
executable_path = {'executable_path': ChromeDriverManager().install()}
driver = webdriver.Chrome(**executable_path)

====== WebDriver manager ======
Current google-chrome version is 93.0.4577
Get LATEST driver version for 93.0.4577
Driver [C:\Users\kathe\.wdm\drivers\chromedriver\win32\93.0.4577.15\chromedriver.exe] found in cache

In [32]:
driver.get('https://redplanetscience.com/')
time.sleep(2)
# used xpath to locate the elements
try:
    titles = driver.find_elements_by_xpath('//*[@id="news"]/div[1]/div/div[2]/div/div[2]')
    news_title = titles[0].text
    snippet = driver.find_elements_by_xpath('//*[@id="news"]/div[1]/div/div[2]/div/div[3]')
    news_p = snippet[0].text

# exception for the times that the webpage does not load properly
except:
    news_title ="NASA to Broadcast Mars 2020 Perseverance Launch, Prelaunch Activities"
    news_p = "Starting July 27, news activities will cover everything from mission engineering and science to returning samples from Mars to, of course, the launch itself."


print(news_title)
print(news_p)

NASA to Broadcast Mars 2020 Perseverance Launch, Prelaunch Activities
Starting July 27, news activities will cover everything from mission engineering and science to returning samples from Mars to, of course, the launch itself.

In [33]:
# close the driver browser
driver.close()

# JPL Mars Space Images - Featured Image

In [34]:
# use splinter  and beautiful soup for this exercise
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 93.0.4577
Get LATEST driver version for 93.0.4577
Driver [C:\Users\kathe\.wdm\drivers\chromedriver\win32\93.0.4577.15\chromedriver.exe] found in cache

In [35]:
url = 'https://spaceimages-mars.com/'
browser.visit(url)

In [36]:
browser.links.find_by_partial_text('FULL IMAGE').click()
html = browser.html
soup = bs(html, 'html.parser')

In [37]:
image_location=soup.find('img', class_="headerimage fade-in")['src']
featured_image_url = url + image_location
featured_image_url

'https://spaceimages-mars.com/image/featured/mars3.jpg'

In [38]:
# Quite the browser after scraping
browser.quit()

# Mars Facts

In [39]:
# Mars Facts Webpage
url = 'https://galaxyfacts-mars.com/'

In [40]:
# scrape for the tables
tables = pd.read_html(url)
mars_facts = tables[0]

In [14]:
tables[0]

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [41]:
mars_facts

In [16]:
# convert to html for use on webpage
facts_table = mars_facts.to_html(index = False, header = False, classes="table table-success table-striped", bold_rows = True)

In [17]:
facts_table

'<table border="1" class="dataframe">\n  <tbody>\n    <tr>\n      <td>Mars - Earth Comparison</td>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <td>Diameter:</td>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <td>Moons:</td>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <td>Distance from Sun:</td>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <td>Length of Year:</td>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <td>Temperature:</td>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

# Mars Hempispheres

In [18]:
# use splinter  and beautiful soup for this exercise
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 93.0.4577
Get LATEST driver version for 93.0.4577
Driver [C:\Users\kathe\.wdm\drivers\chromedriver\win32\93.0.4577.15\chromedriver.exe] found in cache

In [19]:
# use splinter and beautiful soup to get html
url = 'https://marshemispheres.com/'
browser.visit(url)
html = browser.html
soup = bs(html, 'html.parser')

In [20]:
# initialise dictionary
hemisphere_image_urls = []

# each hemisphere has its own section
moons = soup.find_all('div', class_='item')
for moon in moons:
    # title is in h3
    clean_title = moon.h3.text.strip()
    # go to page with info on full image
    moon_link = moon.a['href']
    browser.visit(url + moon_link)
    # use splinter and beautiful soup to find url of full image
    moon_html = browser.html
    moon_soup = bs(moon_html, 'html.parser')
    moon_look = moon_soup.find('div', id='wide-image')
    moon_look_again = moon_look.find('a', target='_blank')['href']
    moon_image_url = url + moon_look_again
    # add to dictionary
    hemisphere_image_urls.append({"title":clean_title, "img_url":moon_image_url})
    # return to main page
    browser.links.find_by_partial_text('Back').click()
    time.sleep(1)
        
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg'}]

In [21]:
browser.quit()

In [22]:
# just some code I don't want to lose in case it turns out to be useful
# partial = title_list[0].split().pop(0).lower()

# Create Dictionary of Outputs

In [23]:
# create dictionary of outputs
mars_info = {}
mars_info = {
"news_title":news_title,
"news_p": news_p,
"featured_img_url": featured_image_url,
"facts":facts_table,
"hemispheres":hemisphere_image_urls
}

In [24]:
mars_info

{'news_title': '5NASA to Broadcast Mars 2020 Perseverance Launch, Prelaunch Activities',
 'news_p': 'Starting July 27, news activities will cover everything from mission engineering and science to returning samples from Mars to, of course, the launch itself.',
 'featured_img_url': 'https://spaceimages-mars.com/image/featured/mars1.jpg',
 'facts': '<table border="1" class="dataframe">\n  <tbody>\n    <tr>\n      <td>Mars - Earth Comparison</td>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <td>Diameter:</td>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <td>Moons:</td>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <td>Distance from Sun:</td>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <td>Length of Year:</td>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <td>Temperature:</td>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>',
 'hemispheres': [{'title': 'Cerberus Hemisphere Enhanced',
   'img_url': 'https://marshemispheres.com/images/full.jpg'},
  {'title': 'Schiaparelli Hemisphere Enhanced',
   'img_url': 'https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg'},
  {'title': 'Syrtis Major Hemisphere Enhanced',
   'img_url': 'https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg'},
  {'title': 'Valles Marineris Hemisphere Enhanced',
   'img_url': 'https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg'}]}

# Set up Database and Insert initial values

In [25]:
# Module used to connect Python with MongoDb
import pymongo

# The default port used by MongoDB is 27017
# https://docs.mongodb.com/manual/reference/default-mongodb-port/
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

# Define the 'classDB' database in Mongo
db = client.mars_db

# Declare the collection
facts = db.facts

# Drops collection if available to remove duplicates
db.facts.drop()

# A dictionary that represents the document to be inserted
post = mars_info
# Insert the document into the database
# The database and collection, if they don't already exist, will be created at this point.
facts.insert_one(post)